body { 
    color: #40514E;
    font-family: 'Muli', sans-serif;
    margin: 0;
    text-align: center;
}

/*********HTML elements*********/
h1 {
    color: #f09595;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #f09595;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    margin-top: 30px;
}

h3 {
    color: #9dc6a7;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

p{
   line-height: 2;
}

hr {
    Border: dotted #e4dcdc 8px;
    border-bottom: none;
    margin: 60px auto;
    width: 4%;
}

a {
   color: #e48080;
   font-family: 'Muli', sans-serif;
   margin: 10px;
   text-decoration: none;
}

a:hover {
    color: #9b8f8f; 
    text-decoration: underline;
}

/**********Top container(header)***********/

.top-container {
    background-color: #ffe8cf;
    padding: 130px 0;
    position: relative;
}

.web-dev {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
}
.top-cloud {
    position: absolute;
    right: 200px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    bottom: 50px;
    left: 150px;
}

/***********Middle container (main content)**********/
.middle-container {
    margin-bottom: 2rem;
}

.intro {
    width: 50%;
    margin: auto;
}

.skill-row {
    margin: 50px auto;
    text-align: left;
    width: 50%;
}

.contact-msg {
    width: 40%;
    margin: 30px auto;
}

.profile-img {
    width: 15%;
}

.web-dev-img {
    float: left;
    margin-right: 30px;
}

.martial-arts-img {
    float: right;
    margin-left: 30px;
}

.btn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #4E5450;
    font-family: 'Muli', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 7px;
    background-color: #FFFFFF;
    border: solid #9DC6A7 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center
}
    
.btn:hover {
    background: #9DC6A7;
    border: solid #9DC6A7 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
}

.bottom-container {
    background-color: #ffd3b6;
    padding: 20px 0 10px;
}

.copyright {
    color: #9b8f8f;
    font-size: 0.75rem;
    padding: 15px 0 0;
}

.flaticon {
    color: #9b8f8f;
    font-size: 0.65rem;
    margin: 0;
}

