body { 
    font-family: 'Muli', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #f09595;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    
}

h2 {
    color: #f09595;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    margin-top: 30px;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    color: #60a9a6;
}

/**********Top container(header)***********/

.top-container {
    background-color: #ffe8cf;
    position: relative;
    padding-top: 100px;
}

.web-dev {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
     position: absolute;
     left: 250px;
     bottom: 250px;
}

/***********Middle container (main content)**********/

.middle-container {
    Margin-bottom: 30px;
}

.profile {
  width: 50%;
  margin: 40px auto;
  text-align: center;
  line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}

.web-dev-img {
    float: left;
    margin-right: 30px;
}

.martial-arts-img {
    float: right;
    margin-left: 30px;
}

/************Bottom container (footer)***************/

.bottom-container {
    background-color: #ffe8cf;
    padding-top: 20px;
    padding-bottom: 10px;
}

/************Horizontal rule and a tags************/

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #bdb2b2;
    width: 5%;
    margin: 30px auto;
  }

a {
      color: #60a9a6;
  }